[submodule "src/depend/glfw"]
	path = src/depend/glfw
	url = https://github.com/glfw/glfw
[submodule "src/depend/SPIRV-Cross"]
	path = src/depend/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
